.speakingList {
  padding-top: 12rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  .speakingsRoot {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .speakings {
      width: min(700px, 90%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 7rem;

      .speakingElem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: var(--dark-moon);
        transition: transform 0.3s;
        gap: 3rem;

        h2 {
          font-size: clamp(1.5rem, 6vw, 2.5rem);
          font-weight: 800;
          text-align: center;
          text-wrap: balance;
        }

        p {
          font-size: 1.1rem;
          font-weight: 400;
          text-wrap: balance;
        }

        .video {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .videoIframe {
            border: 0;
            margin-top: 2rem;
            min-width: min(100%, 1000px);
            aspect-ratio: 16/9;
            border-radius: 8px;
            box-shadow: 0 0 10px var(--dark-moon);
          }
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 0 20px 0 rgba(14, 42, 90, 0.35);
          aspect-ratio: auto;
          transition: all 0.5s;
        }

        .pageLink {
          display: flex;
          justify-content: center;
          width: 200px;
          background-color: var(--primary-color);
          color: var(--lighten-cloud);
          border-radius: 5px;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.2rem;
          padding: 1rem 1.5rem;
          box-shadow: 0 5px 40px 0 rgba(14, 42, 90, 0.55);
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 2px;
            background: transparent;
            border-bottom: 2px solid transparent;
            border-image: linear-gradient(0.25turn, transparent, var(--primary-color), transparent) 1;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
          }

          &:hover {
            &::after {
              opacity: 1;
              transform: translateY(5px);
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding-top: 8rem;
  }
}