.talks {
  width: 100%;
  max-width: 1300px;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: clamp(1rem, 8vw, 10rem);

  @media screen and (max-width: 1044px) {
    row-gap: 4rem;
  }

  .talkElem {
    height: fit-content;
    width: 100%;
    text-decoration: none;
    color: var(--dark-moon);
    transition: transform 0.3s;

    @media screen and (min-width: 1044px) {
      &:nth-child(2n+2) {
        margin-top: 8rem;
      }
    }

    img {
      position: relative;
      width: 300px;
      height: auto;
      margin: 0 5px -100px;
      border-radius: 8px;
      box-shadow: 0 10px 40px 0 rgba(14, 42, 90, 0.55);
      left: 50%;
      transform: translateX(-50%);
      aspect-ratio: auto;
    }

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--lighten-cloud);
      box-shadow: 0 20px 60px 0 rgba(90, 116, 148, 0.4);
      border-radius: 10px;
      padding: 170px 25px 90px;
      gap: 3rem;

      h2 {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        text-wrap: balance;

        &:after {
          content: '';
          display: inline-block;
          width: 60%;
          height: 4px;
          position: relative;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 4px;
          background-color: var(--primary-color);
        }
      }
    }

    .pageLink {
      display: flex;
      justify-content: center;
      width: 200px;
      position: relative;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--primary-color);
      color: var(--lighten-cloud);
      border-radius: 5px;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      padding: 1rem 1.5rem;
      box-shadow: 0 5px 40px 0 rgba(14, 42, 90, 0.55);
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.5s;

      .card {
        box-shadow: 0 10px 40px 0 var(--shadow-primary-color), 0 20px 60px 0 rgba(90, 116, 148, 0.4);
      }

      .pageLink::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(0.25turn, transparent, var(--primary-color), transparent) 1;
      }
    }
  }

}
