.socialLinks {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding-inline-start: 0;

  li {
    display: inline-flex;

    a {
      color: var(--dark-moon);
      font-size: 1.5rem;
      border-radius: 50%;
      padding: 0.75rem;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        color: var(--primary-color);
        box-shadow: 0 0 1px 1px var(--primary-color);
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
