.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;

  @media (max-width: 480px) {
    padding-left: 1rem;
  }
}

.rightSideContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 900px) {
  .navbar,
  .rightSideContainer {
    display: none !important;
  }
}
