.header {
  background-color: white;
  background-image: url("/images/noise.png");
  background-size: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 5rem 20px;
  transition: box-shadow 0.5s ease-in-out;

  @media (max-width: 900px) {
    padding-left: 2rem;
  }

  @media (max-width: 480px) {
    padding-left: 1rem;
  }

  &.scrolled {
    box-shadow: rgba(0, 0, 0, 0.45) 0 0 40px -20px;
  }

  a {
    text-decoration: none;
  }

  .picture {
    border-radius: 50%;
    border: 3px solid var(--primary-color);
  }

  .helloHand {
    font-size: 2rem;
  }
}

.rightSideContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 900px) {
  .navbar,
  .rightSideContainer {
    display: none !important;
  }
}
