.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.rightSideContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 900px) {
  .navbar,
  .rightSideContainer {
    display: none !important;
  }

  .header {
    justify-content: center;
  }
}
