.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--dark-moon);
  height: 45px;
  list-style: none;
  padding: 0 0.7rem;
  background-color: var(--light-cloud);
  border: 1px solid var(--lighten-cloud);
  border-radius: 50px;

  &:hover {
    cursor: pointer;
    color: var(--primary-color);
  }

  svg {
    width: 20px;
  }
}
