.header {
  position: fixed;
  width: 100%;

  nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem 0;

    ul, button {
      width: fit-content;
      height: 45px;
      display: flex;
      list-style: none;
      padding: 0 1.2rem;
      background-color: var(--light-cloud);
      border: 1px solid var(--lighten-cloud);
      border-radius: 50px;
      backdrop-filter: blur(8px);

      li {
        &.selected {
          width: 100%;
          margin-bottom: -1px;
          border-bottom: 1px solid transparent;
          border-image: linear-gradient(0.25turn, transparent, var(--primary-color), transparent) 1;

          a {
            color: var(--primary-color);
          }
        }

        a {
          display: block;
          color: var(--dark-moon);
          text-decoration: none;
          font-weight: 600;
          font-size: 0.9rem;
          padding: 0.7rem 1rem;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--dark-moon);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}