.header {
  width: 100%;
  height: 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 3rem;

      h2 {
        width: fit-content;
        color: var(--dark-moon);
      }

      ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        padding-inline-start: 0;

        li a {
          display: inline-flex;
          width: 100%;
          color: var(--dark-moon);
          font-size: 1.5rem;
          text-decoration: none;
          font-weight: 500;
          transition: all 0.2s ease-out;
          margin: 0;

          &:hover {
            color: var(--primary-color);
            transform: scale(1.2);
            transition: all 0.2s ease-out;
          }
        }
      }
    }
  }
}