.header {
  width: 100%;
  height: 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .menu {
      display: flex;
      gap: 0.5rem;
      width: fit-content;
      height: 45px;
      list-style: none;
      padding: 0 1.2rem;

      li {
        border-radius: 5px;

        &:hover {
          background-color: var(--background-button-hover);
        }

        &.selected {
          width: 100%;
          background-color: var(--light-cloud);

          a {
            color: var(--primary-color);
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(0.25turn, transparent, var(--primary-color), transparent) 1;
          }
        }

        a {
          display: block;
          color: var(--dark-moon);
          text-decoration: none;
          font-weight: 600;
          font-size: 1rem;
          padding: 0.7rem 1rem;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 2rem;

      h2 {
        width: fit-content;
        color: var(--dark-moon);
      }

      ul {
        display: flex;
        gap: 0.5rem;
        list-style: none;
        padding-inline-start: 0;

        li {
          display: inline-flex;

          a {
            color: var(--dark-moon);
            font-size: 1.5rem;
            border-radius: 50%;
            padding: 0.75rem;
            transition: background-color 0.2s, color 0.2s;

            &:hover {
              color: var(--primary-color);
              background-color: var(--light-cloud);
            }

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--dark-moon);
      height: 45px;
      list-style: none;
      padding: 0 0.7rem;
      background-color: var(--light-cloud);
      border: 1px solid var(--lighten-cloud);
      border-radius: 50px;

      &:hover {
        cursor: pointer;
        color: var(--primary-color);
      }

      svg {
        width: 20px;
      }
    }
  }
}
