.container {
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.icon {
  color: var(--color-primary);
  opacity: 1;
  margin-left: 5px;
  margin-top: 1px;
  font-size: 24px;
}

@media (min-width: 760px) {
  .icon {
    opacity: 0;
    font-size: 16px;
  }
}

.navLink {
  text-decoration: none;
  border-bottom: none;
}

.anchor {
  color: var(--color-secondary);
  display: flex;
  font-size: 15px;
  border: 0;
  margin-left: 20px;
  text-decoration: none;
  text-transform: lowercase;
  transition: color var(--transition-duration) ease-in-out;
}

.anchor:hover,
.anchor:focus {
  color: var(--color-primary);
  opacity: 1;
  cursor: pointer;
}

.anchor:hover .icon {
  transition: opacity var(--transition-duration) ease-in-out;
  opacity: 1;
}

.title {
  display: none;
}

@media (min-width: 760px) {
  .title {
    display: block;
  }
}