.featuredArticlesContainer {
  margin: 10px 0 0 -20px;
}

@media (min-width: 760px) {
  .featuredArticlesContainer {
    display: flex;
    justify-content: space-between;
  }
}

.emptyState {
  text-align: center;
  padding-top: 10rem;
}

.emptyStateIcon {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.emptyStateLottie {
  width: 120px;
  height: 120px;
}

.emptyStateMessage {
  margin-top: 16px;
  color: var(--color-secondary);
}