.postHeader {
  background-color: #141618;
  min-height: 600px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  z-index: -1;
}

.postTitle {
  text-align: center;
}

@media (min-width: 760px) {
  .postTitle {
    font-size: 72px;
    line-height: 90px;
    max-width: 60%;
  }
}

.postHeaderTitle {
  color: #fff;
  margin: 59px auto 0;
  position: relative;
  z-index: 3;
  font-size: 36px;
  line-height: 48px;
  padding: 0 12px;
}

@media (min-width: 760px) {
  .postHeaderTitle {
    font-size: 60px;
    line-height: 80px;
  }
}

.postContentTitle {
  color: var(--color-primary);
  margin: 90px auto 0;
  max-width: none;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

@media (min-width: 760px) {
  .postContentTitle {
    margin-top: 0;
  }
}

.postSubtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.postHeaderSubtitle {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  margin: 0;
  width: 100%;
}

.postContentSubtitle {
  color: var(--color-secondary);
  font-size: 16px;
  margin: 0 0 60px;
}

.postImage {
  background-color: #141618;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  will-change: transform;
}

.postImage::after {
  content: "";
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 50%,
    transparent 90%,
    rgba(0, 0, 0, 0.8)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
}

@media (min-width: 1024px) {
  .postImage {
    position: absolute;
  }
}

