.contentWrapper {
  position: relative;
  z-index: 1;
}

.article {
  border: 0;
  width: 370px;
  margin-left: 20px;
  text-decoration: none;
}

.article:hover {
  opacity: 1;
}

.article:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  border-radius: 8px;
  width: 370px;
  height: 180px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.imageContainer .image {
  object-fit: cover;
  filter: grayscale(1);
}

.content {
  max-width: 450px;
  margin-right: 20px;
}

@media (min-width: 760px) {
  .content {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: var(--color-primary);
  margin: 0;
}

.description {
  color: var(--color-secondary);
  display: -webkit-box;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.stats {
  margin: 5px 0 0;
  color: var(--color-primary);
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.animContainer {
  position: relative;
  width: 100%;
  padding: 20px;
}

.animHovered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-hover);
  border-radius: var(--radius-border-radius);
  z-index: -1;
}