.contentWrapper {
    position: relative;
    z-index: 1;
}

.project {
    display: flex;
    transition: opacity var(--transition-duration) ease-in-out;
    border: 0;
    border-radius: var(--radius-border-radius);
    text-decoration: none;
    width: auto;
}

.project:hover {
    opacity: 1;
}

@media (min-width: 760px) {
    .project {
        width: 240px;
    }
}

.body {
    flex: 1 1 auto;
}

.title {
    color: var(--color-primary);
    margin: 0;
    font-size: 18px;
}

.description {
    margin: 0;
    color: var(--color-secondary);
    line-height: 24px;
}

.stats {
    margin: 5px 0 0;
    color: var(--color-primary);
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 12px;
}

.animContainer {
    position: relative;
    width: 100%;
    padding: 20px;
}

.animHovered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-hover);
    border-radius: var(--radius-border-radius);
    z-index: -1;
}