.featuredProjects {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
}

@media (min-width: 760px) {
  .featuredProjects {
    grid-template-columns: repeat(3, 1fr);
    margin-left: -20px;
    padding-top: 10px;
  }
}
