.contentWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project {
  display: flex;
  transition: opacity var(--transition-duration) ease-in-out;
  border: 0;
  border-radius: var(--radius-border-radius);
  text-decoration: none;
  width: auto;
  padding: 0;
}

.project:hover {
  opacity: 1;
}

@media (min-width: 760px) {
  .project {
    width: 100%;
    padding: 0;
  }
}

.body {
  flex: 1 1 auto;
}

.title {
  color: var(--color-primary);
  margin: 0;
  font-size: 18px;
}

.description {
  margin: 0;
  color: var(--color-secondary);
  line-height: 24px;
  padding-top: 0.5rem;
}

.stats {
  margin: 5px 0 0;
  color: var(--color-primary);
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.iconRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stars {
  margin: 0;
  color: var(--color-primary);
  font-size: 12px;
  font-weight: 500;
}

.animContainer {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.animHovered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-hover);
  border-radius: var(--radius-border-radius);
  z-index: -1;
}
