.allProjectsGrid {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
}

@media (min-width: 760px) {
  .allProjectsGrid {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
    margin-left: -20px;
  }
}

.projectCard {
  width: 100%;
}
