.hero {
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--dark-moon);
  text-align: center;
  padding: 4rem 0;
  background-image: radial-gradient(ellipse 800px 50% at 60% 50%, hsla(var(--shadow-hsl), 0.08), transparent);

  h1,
  h2 {
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 3rem 0;
  }

  h1 {
    font-size: 4rem;
    color: var(--primary-color);
    border-top: 1px solid transparent;
    border-image: linear-gradient(0.25turn, transparent, var(--dark-moon), transparent) 1;

    @media (max-width: 768px) {
      font-size: 2.5em;
    }
  }

  h2 {
    font-weight: 900;

    @media (max-width: 768px) {
      font-size: 3em;
    }
  }
}
