.home {
  align-items: center;
  display: flex;
  margin: 0 auto;
  flex: 1 1;
  min-height: 100%;
}

@media (min-width: 760px) {
  .home {
    width: 800px;
  }
}

.companyLink {
  color: inherit;
  border-bottom: none;
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
}

.companyLogo {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 4px;
}