.talkRoot {
  display: flex;
  justify-content: center;
  padding: 10rem 0;

  .goBack {
    display: flex;
    align-items: center;
    align-self: flex-start;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    gap: 1rem;
  }

  .talk {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    color: var(--dark-moon);

    h2 {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      font-size: clamp(2rem, 6vw, 4rem);
      font-weight: 800;
      margin-bottom: 1rem;
      text-align: center;
      text-wrap: balance;

      &:after {
        content: '';
        display: inline-block;
        width: 60%;
        height: 6px;
        position: relative;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 6px;
        background-color: var(--primary-color);
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1rem;

      &:after {
        content: '';
        display: inline-block;
        width: 60%;
        height: 3px;
        position: relative;
        bottom: -2px;
        border-radius: 4px;
        background-color: var(--primary-color);
      }
    }

    .details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 3rem;

      img {
        margin: 5px;
        border-radius: 8px;
        filter: drop-shadow(0 0 5px var(--darken-cloud));
      }

      .description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
      }


      @media (max-width: 900px) {
        flex-direction: column-reverse;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .conferences {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      .conferencesList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-height: 1200px;
        gap: min(3vw, 24px);
      }
    }

    .video {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .videoIframe {
        border: 0;
        margin-top: 2rem;
        min-width: min(100%, 1000px);
        aspect-ratio: 16/9;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--dark-moon);
      }
    }
  }
}