.resumeList {
  padding-top: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  color: var(--dark-moon);

  .resumeRoot {
    width: min(800px, 90%);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: 1.1rem;
    font-weight: 400;

    .resumeSection {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media (max-width: 480px) {
        gap: 1rem;
      }
    }

    h1 {
      font-size: clamp(2.5rem, 10vw, 7rem);
      font-weight: bolder;
      line-height: 1.2;
      letter-spacing: 5px;
      color: var(--dark-moon);
      background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--primary-color));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      text-align: center;

      @media (max-width: 480px) {
        text-align: left;
      }
    }

    .sectionTitle {
      font-size: clamp(1.8rem, 6vw, 2.8rem);
      font-weight: 800;
      text-wrap: balance;
      padding-bottom: 1rem;
    }

    .resumeItem {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;

      .title {
        display: flex;
        align-items: center;
        gap: 1rem;

        h2 {
          font-size: clamp(1rem, 4vw, 1.8rem);
          font-weight: 800;
          text-wrap: balance;
          color: var(--primary-color);

          span {
            color: var(--dark-moon);
          }
        }

        .companyLogo {
          width: 40px;
          height: min-content;
        }

        @media (max-width: 480px) {
          justify-content: space-between;
        }
      }

      .subject {
        font-weight: 700;
        color: var(--primary-color);
      }

      .dateAndLocation {
        font-weight: 600;
        color: var(--dark-moon);
        margin-bottom: 1.5rem;

        .location {
          font-style: italic;
          padding-left: 0.3rem;
        }
      }

      .tasks {
        margin-top: 1rem;
        list-style: square inside none;

        li {
          &::marker {
            color: var(--primary-color);
            font-size: 1.5em;
          }
        }
      }
    }

    @media (max-width: 480px) {
      font-size: 1rem;
      gap: 2rem;
    }
  }

  @media (max-width: 480px) {
    padding-top: 8rem;
  }
} 