.navbar {
  ul {
    display: flex;
    gap: 0.5rem;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    display: inline-flex;
    border-radius: 5px;

    &:hover {
      background-color: var(--background-button-hover);
    }

    &.selected {
      background-color: var(--light-cloud);

      a {
        position: relative;
        color: var(--primary-color);

        &::after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          border-bottom: 1px solid transparent;
          border-image: linear-gradient(0.25turn, transparent, var(--primary-color), transparent) 1;
        }
      }
    }

    a {
      display: block;
      color: var(--dark-moon);
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      padding: 0.7rem 1rem;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
