.mobilePanel {
  position: fixed;
  z-index: 999;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: min(20vh, 10rem) 2rem 2rem;
  background-color: var(--dark-cloud);
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;

  nav ul li a {
    font-size: 120%;
  }

  &.expanded {
    pointer-events: all;
    opacity: 1;
  }

  .footerPanel {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
