.button {
  position: absolute;
  right: 15px;
  width: 4rem;
  height: 4rem;
  color: var(--dark-moon);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  z-index: 999;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    svg,
    path {
      transition: transform 300ms;
    }
  }

  path {
    &:nth-child(1) {
      transform-origin: 5% 10%;
    }

    &:nth-child(2) {
      transition-property: opacity;
    }

    &:nth-child(3) {
      transform-origin: 5% 90%;
    }
  }

  &[aria-expanded='true'] {
    svg {
      transform: rotate(-180deg);
    }

    path:nth-child(1) {
      transform: rotate(45deg) scaleX(1.35);
    }

    path:nth-child(2) {
      opacity: 0;
    }

    path:nth-child(3) {
      transform: rotate(-45deg) scaleX(1.35);
    }
  }
}
