.wrapper {
  position: relative;
  margin: 20px 0;
}

.wrapper:hover .copyButton,
.copyButton:focus-visible {
  opacity: 1;
}

.title {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 13px;
  font-weight: 500;
  color: var(--color-secondary);
  background: var(--color-code-background);
  border: 1px solid var(--color-hover);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

.title + .pre {
  margin-top: 0;
  border-radius: 0 0 8px 8px;
}

.pre {
  margin: 0;
}

.copyButton {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-hover);
  border-radius: 6px;
  background: var(--color-code-background);
  color: var(--color-secondary);
  opacity: 0;
  cursor: pointer;
  transition: opacity var(--transition-duration) ease-in-out;
}

.title ~ .copyButton {
  top: 54px;
}

.copyButton:hover {
  color: var(--color-primary);
}

.copyButton i {
  font-size: 16px;
}

:global(.line.highlighted) {
  display: inline-block;
  width: 100%;
  background: var(--color-hover);
  margin: 0 -30px;
  padding: 0 30px;
}
