.sideBySide {
    display: flex;
    width: 100%;
    margin: 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

@media (min-width: 760px) {
    .sideBySide {
        width: min(90vw, 1200px);
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
    }
}

.sideBySide :global(figure) {
    flex: 1;
    margin: 0;
}

.sideBySide :global(figure > div) {
    width: 100%;
}

.sideBySide :global(img) {
    height: auto;
}