.sideBySide {
    display: flex;
    width: min(90vw, 1200px);
    margin: 40px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1024px) {
    .sideBySide {
        width: 100%;
        max-width: 500px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
    }
}

.sideBySide :global(figure) {
    flex: 1;
    margin: 0;
}

.sideBySide :global(figure > div) {
    width: 100%;
}

.sideBySide :global(img) {
    width: 100%;
    height: auto;
}