@import './theme.scss';

// Dimensions
$dot-size: 3px;
$dot-space: 40px;

body {
  padding: 0 5rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

h1 {
  font-size: 7rem;
  font-weight: 800;
}

menu,
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
