@import './theme.scss';

// Dimensions
$dot-size: 3px;
$dot-space: 40px;

body {
  padding: 0 5rem;
  background-image: url("/images/noise.png");
  background-size: 15%;
  overflow-y: scroll;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }

  @media (max-width: 480px) {
    padding: 0 1.5rem;
  }
}

h1 {
  font-size: 7rem;
  font-weight: 800;
}

menu,
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root{
  --header-height: 140px;
}

[data-lock-scroll] {
  overflow: hidden !important;
}
