:root {
  --primary-color: #4eb9a5;
  --secondary-color: #38a4b2;
  --darken-cloud: #b3b3b9;
  --dark-cloud: #e4e4e7;
  --light-cloud: #f4f4f5;
  --lighten-cloud: #fbfbfb;
  --dark-moon: #27272ae5;
  --light-moon: #ffffff19;
  --dot-color: #b9b9b9;
  --background-button-hover: rgba(244, 244, 245, 0.75);
  --shadow-hsl: 196, 30%, 60%;
}

[data-theme='dark'] {
  --primary-color: #4eb9a5;
  --secondary-color: #38a4b2;
  --darken-cloud: #141414;
  --dark-cloud: #18181b;
  --light-cloud: #23272f;
  --lighten-cloud: #ffffff19;
  --dark-moon: #e4e4e7;
  --light-moon: #f4f4f5;
  --dot-color: #23272f;
  --background-button-hover: rgba(35, 39, 47, 0.5);
  --shadow-hsl: 196, 30%, 60%;
}
